<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssmap-continents/cssmap-continents.css') }}" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cssmapsplugin.com/5/jquery.cssmap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='atlas.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='atlas.png') }}">